<form>
  <div class="form-group">

    <label>Select your pictures :</label>
    <input type="file"
           name="picture"
        accept="image/*"
        class="form-control"
        (change)="ProcessFile($event)"
        multiple>
    <hr>
    <label>Description :</label>
    <textarea class="form-control"
              placeholder="Tell us about your journey..."
              name="comment"
              [(ngModel)]="comment"
    ></textarea>


  </div>
  <button type="button" class="btn btn-success"
          (click)="onSubmit()">Submit</button>

</form>
